<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tarea 1</title>
    <link crossorigin="anonymous"
          href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"
          integrity="sha256-8B1OaG0zT7uYA572S2xOxWACq9NXYPQ+U5kHPV1bJN4="
          rel="stylesheet"/>
</head>
<body>
<nav aria-label="main navigation" class="navbar is-light" role="navigation">
    <div class="navbar-brand">
        <div class="navbar-item">
            <strong style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:large;">Episodes</strong>
        </div>
        <div class="navbar-item">
            <p>
                <form action="{% url 'Search View' %}" method="get">
                    <input type="search" size="100" name="search" placeholder="Search characters"> <button type="submit">Search</button>
                </form>
            </p>
        </div>
    </div>
</nav>
<div style="display:flex; flex-direction: row; background-color: #3b3b3b; height:150vh; text-align: center;">
    <table class="table" style="margin: 6%; margin-left: 33.3%; position: relative; padding: 20px; width: 33.3%; align-items: center;">
        {% for episode in episodes %}
        <tr>
            <th style="text-align: center;"><a href="/episode/{{episode.title}}">{{ episode.title }}</a></th>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>